{% extends 'base.html' %}
{% block title %}Create New Blog{% endblock %}   


{% block content %}

{% if user.is_authenticated %}
<!-- ฟอร์ม add post -->
    <div class="w3-container w3-card w3-orange w3-round w3-margin">
        <div class="panel-body">
          <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p }}
                <button class="btn btn-orange pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Post</button>
            </div>
          <div class="mar-top clearfix">
          </div>
        </div>
      </div>

      <script>
        var name = "{{ user.id }}"; /*.username .firstname อะไรก็ได้ขึ้นมาหมด*/
    
        document.getElementById("elder").value = name;
    </script>
    
    {% else %}
    
    You'e not allowed here!
    
    {% endif %}



{% endblock %}