<!-- เนื้อหาในblog -->

{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}
<div class="w3-container w3-content">    
    <div class="w3-row">
        <div class="w3-col m3">
            <div class="w3-card w3-round w3-orange">
                <div class="w3-container">
                 {% if post.author.profile.profile_pic %}
                 <p class="w3-center img-fluid rounded-start w3-margin-top"><img src="{{ post.author.profile.profile_pic.url }}" class="w3-circle" style="height:110px;width:110px" alt="Avatar"></p>
                {% else %}
                <p class="w3-center img-fluid rounded-start w3-margin-top"><img src="{% static 'images/kmitl.jpg' %}" class="w3-circle" style="height:110px;width:110px" alt="Avatar"></p>
                {% endif %}

                 <hr>
                 <p><button><a href="{% url 'show_profile_page' post.author.profile.id %}" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-user"></i></a></button>{{ post.author.username }}</p>
                
                 {% if post.author.profile.website_url %}
                 <p><button><a href="{{ post.author.profile.website_url }}" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-globe"></i></a></button>Website</p>
                 {% endif %}

                 {% if post.author.profile.facebook_url %}
                 <p><button><a href="{{ post.author.profile.facebook_url }}" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-facebook-f"></i></a></button>Facebook</p>
                 {% endif %}

                 {% if post.author.profile.twitter_url %}
                 <p><button><a href="{{ post.author.profile.twitter_url }}" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-twitter"></i></a></button>Twitter</p>
                 {% endif %}
 
                 {% if post.author.profile.instragram_url %}
                 <p><button><a href="{{ post.author.profile.instragram_url }}" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-instagram"></i></a></button>Instragram</p>
                 {% endif %}
 
                 {% if post.author.profile.pinterest_url %}
                 <p><button><a href="{{ post.author.profile.pinterest_url }}" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-pinterest-p"></i></a></button>Pinterest</p>
                 {% endif %}
                 <p><button><a href="#" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-toggle-right"></i></a></button>Feedback</p>
                 <p><button><a href="#" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-toggle"></i></a></button>{{ post.author.profile.bio }}</p>

                </div>
              </div>
        </div>

        <!-- โพสต์ -->
        <div class="w3-col m9 ">
            <div class="w3-container w3-card w3-orange w3-round w3-margin w3-margin-top "><br>
                <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity">{{ post.post_date }}<button><a href="#" class="w3-button w3-hover-none" title="Report"><i class="fa fa-share-alt fa-2x"></i></a></button>
                </span>

                <h4>By : {{ post.author.username }}</h4><br>
                                <!-- ลบ/แก้ไข -->
                                {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                <a class="w3-right w3-margin-right w3-text-gray" href="{% url 'update_post' post.pk %}" title="Delete"><i class="fa fa-pencil fa-2x"></i></a>
                                <a class="w3-right w3-margin-right w3-text-gray" href="{% url 'delete_post' post.pk %}" title="Edit"><i class="fa fa-trash fa-2x"></i></a>
                                {% endif %}
                                {% endif %}
                <br>
                <hr class="w3-clear">
                <h1 href="#" class="w3-bar-item w3-buttonw3-hover-none text-decoration-none"><h4 class="w3-text-orange">{{ post.title }}</h4><br></h1>
                <textarea style="border: none;" class="form-control w3-margin-bottom w3-orange" rows="15" >{{ post.body}}</textarea>

            
                <form action="{% url 'like_post' post.pk %}" method="POST">
                  {% csrf_token %}
                  {% if user.is_authenticated %}
                  {% if liked %}
                  <button type="submit" , name="post_id" , value="{{ post.id }}" , class="w3-buttonOrange w3-theme-orange w3-margin-bottom"><i class="fa fa-thumbs-up fa-2x"> </i><span class="w3-badge w3-right w3-small w3-theme-orange-red w3-animate-zoom">{{ total_likes }}</span></button>

                  {% else %}
                  <button type="submit" , name="post_id" , value="{{ post.id }}" , class="w3-buttonOrange w3-margin-bottom"><i class="fa fa-thumbs-up fa-2x"> </i><span class="w3-badge w3-right w3-small w3-animate-zoom">{{ total_likes }}</span></button>
                  
                  {% endif %}
              <a href="{% url 'home' %}">
                <button class="btn btn-orange pull-right w3-margin-bottom" type="submit"><i class="fa fa-home"></i> Back</button>
                </a>
              <a href="{% url 'add_comment' post.pk %}">
                <button class="btn btn-orange pull-right w3-margin-bottom w3-margin-right" type="submit"><i class="fa fa-pencil fa-fw"></i>Add Comment</button>
                </a>

              </form>
              {% else %}
              <small><a href="{% url 'login' %}">Login</a> to like
                  {% endif %} </small>
            </div>

            <!-- comment -->
            {% if not post.comments.all %}
            {% else %}
            <div class="bootstrap snippets">
            
                <div class="w3-container w3-card w3-orange w3-round w3-margin">
                    <div class="panel-body w3-orange">
                        <!-- Newsfeed Content -->
                        {% for comment in post.comments.all %} 
                        <div class="media-block w3-margin-top">
                          <!-- <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a> -->
                          <div class="media-body">
                            <div class="mar-btm">
                              <a href="#" class=" btn-link text-semibold media-heading box-inline w3-margin-top w3-text-blue" style="text-decoration: none;"><h5>{{comment.name}}</h5></a>
                              <p class="text-muted text-sm">{{comment.date_added}}</p>
                            </div>
                            <textarea style="border: none;" class="form-control w3-margin-bottom w3-orange" rows="4" >{{comment.body}}</textarea>    
                            <hr class="new4">
                          </div>
                        </div>
                        {% endfor %}
                        {% endif %}    

                      </div>
            
                </div>
                </div>

        </div>
        
    </div>
</div>
{% endblock %}