<!-- หน้า categories -->

{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

{% if category_posts%}
<h1>{{ cats }}</h1>

<!-- show post in that categories  -->
<ul>
    {% for post in category_posts %}

    <li> <a href="{% url 'blog-detail' post.pk %}">{{ post.title }}</a> - {{ post.category }} -
            {{ post.author.first_name }} {{ post.author.last_name }} -
            {{ post.post_date }}

            {% if user.is_authenticated %}
            <small>
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>

                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                {% endif %}
            </small><br />
            {{ post.body|slice:":200" }}

            <a href="{% url 'blog-detail' post.pk %}" class="w3-card w3-round w3-margin notification-list notification-list--unread text-dark  ">
                <div class="notification-list_img">
                  <img src="images/users/user1.jpg" alt="user">
                </div>


                <div class="notification-list_detail">
                  <p><b>{{ post.author.first_name }} {{ post.author.last_name }}</b> <br><span class="text-muted">{{ post.category }}</span></p>
                  <!-- หัวข้อเรื่อง -->
                  <p class="w3-text-orange">{{ post.title }}</p> 
                  <p class="nt-link">{{ post.body|slice:":200" }}</p> 

                  <!-- nt-link แถบสีข้างซ้าย -->
                  
                </div>
                
                <p><small>{{ post.post_date }}</small></p>
                
                
              </a>
        
        </li>

    {% endfor %}
</ul>
{% else %}

<h2>Sorry this page does not exist</h2>

{% endif %}


{% endblock %}