{% extends 'base.html' %}
{% block content %}


<div class="w3-row">
    <div class="w3-col m2">
        <br>

    </div>
    <div class="w3-col m8">
        <ul>
            {% for item in cat_menu_list %}
            <a href="{% url 'category' item|slugify %}" class="w3-card w3-round w3-margin notification-list text-dark"
                style="text-decoration: none;">
                <div class="notification-list_detail">
                    <p class="nt-link">{{item}}</p>
                </div>
            </a>
            {% endfor %}
        </ul>

        
    </div>
</div>



{% endblock %}