<!-- หน้า categories -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

{% if category_posts%}
<h1>{{ cats }}</h1>

<!-- show post in that categories  -->
<ul>
    {% for post in category_posts %}
            <a href="{% url 'blog-detail' post.pk %}" class="w3-card w3-round w3-margin notification-list text-dark" style="text-decoration: none;">
                <div class="notification-list_img">
                  <img src="{{ post.author.profile.profile_pic.url }}" alt="user">
                </div>


                <div class="notification-list_detail">
                  <p><b>{{ post.author.first_name }} {{ post.author.last_name }}</b> <br>
                    <span class="text-muted">{{ post.category }}</span></p>
                  <p class="w3-text-orange">{{ post.title }}</p> 
                  <p class="nt-link">{{ post.body|slice:":60" }}...</p>
                </div>
                <p><small>{{ post.post_date }}</small></p>
              </a>
    {% endfor %}
</ul>
{% else %}

<h2>Sorry this page does not exist</h2>

{% endif %}


{% endblock %}