{% extends 'base.html' %}
{% block title %} Edit Blog Post {% endblock %}


{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="w3-container w3-card w3-orange w3-round w3-margin">
    <div class="panel-body">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-orange pull-right w3-margin-bottom w3-margin-right" type="submit"><i
                        class="fa fa-pencil fa-fw"></i>Edit
                </button>
        </div>
    </div>
</div>
{% else %}

You'e not allowed here!

{% endif %}
{% else %}

You'e not allowed here!

{% endif %}


{% endblock %}